<app-top-bar></app-top-bar>
<div id='container'>
    <div *ngIf='!loc' id='search'>
        <h1>Enter the city name to find the weather info.</h1>
    </div>

    <mat-tab-group  mat-align-tabs = "center" *ngIf='loc'>
        <mat-tab label = "Current Weather" value = "primary">
            <app-weather-current></app-weather-current>
        </mat-tab>
        <mat-tab label="Weather Forecast">
            <app-weather-forecast></app-weather-forecast>
        </mat-tab>
        <mat-tab label="UV Index">
            <app-uv></app-uv>
        </mat-tab>
        <mat-tab label = "Positon on map">
          <app-googlemap></app-googlemap>
        </mat-tab>
    </mat-tab-group>
</div>
